archive/
best_model.pt
*.pt
venv/
__pycache__/
diffvenv/
fake_xrays/
fake_autoencoder1/
fake_reports/
fake_reports_autoencoder1/
unseen_fake_test/
auth_model_best.pt
auth_model_full.pt
auth_model_new.pt
auth_model.pt
autoencoder.pt
hybrid_model_best.pt
gan_discriminator.pth
gan_generator.pth
wgan_generator_medical.pth


.env
*.env
web_interface2/backend/.env
# Python
__pycache__/
*.pyc

# Virtual Environment
diffvenv/
venv/

# Model Weights
*.pt
*.pth

# Dataset
data/
fake_xrays/
fake_reports/
auth_dataset/
auth_full_dataset/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/